.task-box {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 60%;
    height: 55px;
    border: thin solid gray;
    border-radius: 5px;
    margin: 0 auto 8px;
}

.task-box__checkbox-icon {
    width: 20px;
    height: 20px;
    margin: 0 20px 0 15px;
    cursor: pointer;
}

.task-box__title {
    flex-grow: 1;
    text-align: right;
}

.task-box__trash-icon {
    width: 20px;
    height: 20px;
    margin: 0 15px 0 20px;
    cursor: pointer;
    transition: fill 250ms linear;
}

.task-box__trash-icon:hover {
    fill: tomato;
}